* {
  color: #424242
}
.logo {
  height: 100px;
}
.footerLogo {
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar, #footer, .pageName {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataTable, .dataRow {
  border: 1px solid #424242;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.dataTableHeader {
  background-color: lightgray;
  border: 1px solid #424242;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
tr:hover {
  background-color: #df8c5549 !important;
}
/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

#home_infocards {
  margin: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.adoptablePets {
  height: auto;
  width: 84%;
  margin-left: 6%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home_infocards {
  padding: 10px 0px;
}

.pet {
  padding: 5px;
}

.rescueportal {
  display: flex;
  justify-content: center;
  text-align: left;
}

#loginForm, #signupForm {
  padding: 45px;
  margin: 60px;
  background-color: white;
  border-radius: 25px;
  opacity: 0.9;
}
#applicant_signup {
  width: 73%;
  background-image: url(http://localhost:4000/images/signupImg.jpg);
  background-size: cover;
  margin: auto; /*top right bottom left*/
  display: flex;
  align-items: center;
}
#login {
  width: 73%;
  height: 50rem;
  background-image: url(http://localhost:4000/images/loginImg.jpg);
  /* center center/cover no-repeat local; */
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto; /*top right bottom left*/
  display: flex;
  align-items: center;
}
#loginErrors {
  color: red;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
  text-align: center;
}
