.logo {
  height: 90px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}


#home {
  align-items: center;
  justify-content: center;
}

.adoptablePets {
  height: auto;
  width: 84%;
  margin-left: 6%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home_infocards {
  padding: 10px 0px;
}

.pet {
  padding: 5px;
}

.rescueportal {
  display: flex;
  justify-content: center;
  text-align: left;
}

#login {
  background: #fff url(http://localhost:4000/images/house.jpg) center center/cover no-repeat local;
  margin: 25px;
}
#loginForm {
  padding: 45px;
  margin: 50px;
  background-color: white;
  border-radius: 25px;
  /* justify-content: left; */
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
