body {
  background-color: #eeeb47;
  font-family: "Gothic A1", sans-serif;
}

#home-photos1,
#home-photos2,
#home-photos3 {
  height: 475px;
  opacity: 80%;
}

#home-photos1 {
  width: 750px;
}

#home-photos2 {
  width: 545px;
}

#home-photos3 {
  width: 750px;
}

#banner {
  display: flex;
  justify-content: flex-end;
}

.bannerDCL {
  display: flex;
}

#navbar {
  background-color: #eeeb47;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#icon:hover {
  cursor: pointer;
  transform: scale(1.03)
}

.route-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 4%;
  margin-right: 4%;
  font-size: larger;
}

.route-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dcl-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 90vw;
  margin: 50px;
}

#time-and-location {
  font-size: 8rem;
}

#testimonials {
  display: flex;
  flex-direction: column;
}


#header-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  padding-top: 100px;
  margin-top: 50px;
  margin-left: 75px;
}

#date-header {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

#fest1-container {
  background-color: #eeeb47;
}

.home-container {
  background-color: #eeeb47;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
}

.nav-container {
  background-color: #eeeb47;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-container {
  padding-top: 100px;
}

.stage-container {
  background-color: #eeeb47;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#schedule {
  display: flex;
  justify-content: space-evenly;
}

.dcl-desc {
  margin-left: 130px;
  margin-right: 130px;
}

.home-talk {
  font-size: 20px;
  font-weight: 500;
}

.stages,
.stage-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stages {
  padding-bottom: 20px;
}

.stage-artist {
  margin-bottom: -15px;
}

.artist-stage {
  font-weight: 600;
}

.artist-stage {
  margin-top: -20px;
}

.artist-genre {
  margin-top: -1px;
}

.artist-card {
  display: inline-block;
  width: 450px;
  margin-left: 50px;
  margin-top: 20px;
}

.artist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#dcl-intro {
  display: flex;
  justify-content: flex-start;
}

.home-header {
  justify-content: center;
  text-transform: uppercase;
  background: #eeeb47;
  color: #000000;
  font-weight: bold;
  letter-spacing: .2em;
  font-size: 7rem;
  margin: 0px;
}

.headline {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: #eeeb47;
  color: rgb(0, 0, 0);
  letter-spacing: .2em;
  font-weight: bold;
  font-size: 6rem;
  margin: 0px;
}

#tickets-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: rgb(0, 0, 0);
  height: 600px;
}

#ticket-home-link {
  text-decoration: none;
  font-size: 8rem;
  color: #eeeb47;
  font-weight: bold;
  margin-left: 4%;
  margin-right: 4%;
}

#ticket-home-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Tickets */

#card {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#type {
  text-align: center;
  background: #000;
  color: #fff;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

#type:active {
  background: #eeeb47;
  color: rgb(0, 0, 0);
}


.container {
  display: flex;
}

#titles {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: #eeeb47;
  background-size: 100%;
  color: rgb(0, 0, 0);
  letter-spacing: .2em;
  font-size: 6rem;
  font-weight: bold;
}

#cart-button {
  margin-top: .5%;
  background-color: #000000;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#cart-button:active {
  background-color: #eeeb47;
  color: rgb(0, 0, 0);
}

#ticket-price {
  margin-top: -1%;
}

.description {
  width: 64%;
  text-align: center;
  font-weight: 600;
}

.total {
  font-weight: 600;
}

#ticket-box {
  padding-bottom: 50px;
}


/* testing css */

.button-color {
  background-color: #eeeb47;
  ;
}

.card {
  color: #eeeb47;
  display: flex;
  flex-direction: column;
  width: 600px;
  word-wrap: break-word;
  background-clip: border-box;
  border: solid black;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 black, 0 2px 6px 0 black;
}

.me-2 {
  margin-right: .5rem !important;
}

.profile-header {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Image Animation Styling */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: .5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Login/Signup Styling */
#signup-reroute {
  display: flex;
  flex-direction: row;
}

#signup-reroute {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-box {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 500px;
  height: 500px;
  border: solid black;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
}

.input-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

form input {
  border: none;
  border-radius: 10px;
  height: 25px;
}