body {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.shake {
  animation: shake 0.4s; 
  animation-iteration-count: infinite; 
  width: 100%;
  height: 100%;
  }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  column-gap: 10px;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 330px;
  width: 400px;
  box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.3), 
    0 3px 7px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgba(255,255,255,1),
    inset 0 -3px 2px rgba(0,0,0,0.25);
  border-radius: 30px;
  background: linear-gradient(rgb(225, 242, 253), rgba(158, 215, 253, 0.541));
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px;
}
    
.login-form {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.login-input-div {
  height: 50px;
  padding: 20px;
}

.login-input {
  background-color: #99b6f569;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: rgb(82, 82, 82);
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 70%;
  height: 50px;
  padding: 20px;
}

.login-button-div {
  padding: 20px;
  text-align: center;
  align-items: center;
}

.button {
  background-color: rgb(24, 219, 253);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: auto;
  font-weight: bold;
}

.stock-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.stock-card {
  height: auto;
  width: 600px;
  background-color: rgb(43, 43, 43);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.error {
  color: red;
  left: auto;
}

.navbar {
  height: 70px;
  background-color:rgb(24, 219, 253);
  overflow: hidden;
  max-width: 100vw;
  margin-bottom: 30px;
}

.navbar-item {
  cursor: pointer;
}

.navbar .nav-right {
  display: flex;
  float: right;
}

.navbar .nav-left {
  display: flex;
  float: left;
}

.navbar .nav-right > * {
  color: rgb(255, 255, 255);
  padding-right: 30px;
}

.navbar .nav-left > * {
  padding-left: 30px;
}

.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}