html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    background: url("./assets/MtAlgo.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.links {
    text-decoration: none;
    font-family: Garamond, serif
}
/* 
.form {
   margin-top: 100px;
   width: 60%;
   display:flex;
   height: 100%
} */

h1 {
  font-size: 2.5em;
  margin-left: 20%;  
}

.subheading-fade {
    display: inline-block;
    margin-left: 150px;
    font-family: Garamond, serif;
    font-size: 1.75em;
    color:  #4f2004;
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

#avatar-container {
    display: flex;
    overflow-x: auto;
    margin: 1rem 1rem;
    max-width: calc(100vw - 2rem);
    position: relative;
    justify-content:center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

img.avatar-icon {
   max-width: 100px;
   height: auto;
   margin-left: 10px;
   margin-right: 10px;
}