.App {
  background-image: url('https://images.dwell.com/photos-6133553759298379776/6313447534553235456-large/custom-made-by-studio-adjective-the-23-foot-coffee-bar-is-topped-with-a-white-corian-counter-and-white-metal-stripes-design.jpg');
  background-size: cover;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS for brew methods page */
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.5rem;
  color: rgba(48, 130, 216, 0.653);
}
.brew-header {
  font-size: 1.5rem;
  color: rgba(48, 130, 216, 0.653);
  background-color: whitesmoke;
  opacity: 75%;
  border-radius: 25px;
  padding: 1rem;
}

.guides-button {
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #3acbf7;
  padding: 1rem;
}

.guides-button:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: #fff;
  color: #6568f4;
  transition: 250ms;;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between; 
}

.items {
  margin: 10px; 
}

.guide-container {
  height: 100vh;
}

.guide-card {
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 1rem;
}

/* .col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
} */

img.small {
  max-height: 8rem;
}

/* CSS for the login/signup components */
.login-container {
  border: 1px solid black;
  border: 16px;
  height: 550px;
  display: flex;
  align-items: space-around;
  justify-content: space-evenly;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-input {
  border-radius: 5px;
  margin: 5px;
}

.submit {
  border-radius: 16px;
  margin: 5px;
  background-color: lightskyblue;
}

/* CSS for story page */
.story-items {
  margin: 5px;
  width: 50%;
  background-color: whitesmoke;
  border: 1px solid black
}

.story-container{
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 60vw;
  margin: 10px;
  border: 1px solid black
}



/* CSS for home component */

.home-container, block .col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1500px;
  width: 97vw;
  border-radius: 16px;
  overflow-y: auto
}

.menu-container {
  height: 100vh;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.cart-container {
  background-color: lightsteelblue;
  background-size: cover;
  background-position: center;
  margin: 10px;
  height: 100vh;
  width: 70vw;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px;

}

.cart-container:hover {
  background-image: url('https://thumbor.thedailymeal.com/rbTne3GcH3r5Vg60BXS0kxP15sE=//https://www.thedailymeal.com/sites/default/files/2019/01/24/Hero_Coffee_edit_0.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.brew-method-story-container {
  margin: 10px;
  height: 100vh;
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.beans-menu-card {
  background-image: url('https://cdn.shopify.com/s/files/1/1803/1149/products/coffee-bag.jpg?v=1591291294');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 30vw;
  margin: 15px;
}

.beans-menu-card:hover {
  background-image: url('https://media.timeout.com/images/103000598/image.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.beans-menu-description {
  height: 90vh;
  width: 30vw;
}

.beans-button-container {
  height: 10vh;
  width: 30vw;
  display: flex;
  justify-content: flex-end
}

.drinks-menu-card {
  background-image: url('https://cdn.luxe.digital/media/2020/05/07203610/best-coffee-beans-luxe-digital.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 60vw;
  margin: 10px;
  border: 1px solid black
}

.drinks-menu-card:hover {
  background-image: url('https://i.pinimg.com/originals/7f/14/f7/7f14f78321616bfc6ce427b8bf29352d.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.drinks-menu-description {
  height: 90vh;
  width: 60vw;
}

.drinks-button-container {
  height: 10vh;
  width: 60vw;
  display: flex;
  justify-content: flex-end
}

.brew-method-card {
  background-image: url('https://i.pinimg.com/736x/77/29/69/77296979319e0001b02e16ee9cc7cce0.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 25vw;
  margin: 10px;
}

.brew-method-card:hover {
  background-image: url('https://images.megapixl.com/5946/59464327.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.coffee-story-card {
  background-color: lightpink;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 55vw;
  margin: 10px;
}

.coffee-story-card:hover {
  background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_938993594_391384.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.home-navigation-button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer
}
.home-navigation-button:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: #fff;
  color: #6568f4;
  transition: 250ms;;
}

/* CSS for drinks component */

.drinks-div-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.drink-menu-header {
  background-color: lightgoldenrodyellow;
  width: 73vw;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.drinks-menu-container {
  /* height: 90vh; */
  width: 98vw;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-row-gap: 30px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  margin: 10px;
}

.drink-container {
  border: 1px solid black;
  background-color: lightsteelblue;
  display: flex;
  height: 40vh;
  width: 35vw;
  opacity: 0.9;
}

.drink-container:hover{
  border: 2px solid yellow;
}

.drink-info {
  margin: 10px;
}

.drinks-image {
  height: 36vh;
  width: 20vw;
  border-radius: 16px;
  margin: 10px
}

.drink-button {
  margin: 5px;
  border-radius: 5px;
  background-color: lightskyblue;
}

/* CSS for cart component */
.my-cart-container {
  border: 1px solid black;
  width: 97vw;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;

}

.order-information-container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  border: 1px solid black;
  background-color: lightgray;
  margin: 20px;
}

.cart-edit-card {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  margin: 10px
}

.cart-item-card {
  margin: 10px;
}

.tip-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-selector-card {
  display: flex;
  align-items: center;
}

.order-selector-button {
  height: 10%;
  margin: 5px;
}

.cart-total-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}

.edit-cart-button {
  margin: 10px;
  font-size: 10px;
}

.place-order-button {
  margin: 10px;
}

.my-cart-order-form {
  border: 1px solid black;
  background-color: lightgray;
  width: 30vw;
  height: 31vh;
  margin-top: 10px;
}

.add-credit-card-selector-form-container {
  margin: 5px;
}

.credit-card-selector {
  border-radius: 5px;
}

.card-number-container {
  border-radius: 16px;
  margin: 5px;
}

.card-number-card {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.card-information-container {
  display: flex;
}

.card-information-card {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 30%
}

.contact-info-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: lightgray;
  width: 30vw;
  margin-top: 20px;
}

.contact-info-user-details-card {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.order-details-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.order-details-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coffee-order-thumbnail {
  height: 6vh;
  width: 3vw;
}

.cart-fees-card {
  display: flex;
  justify-content: space-between;
}