@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .newRootRootRootRoot {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    border-width: 0px;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  .newRootRootRootRoot.error {
    background-color: #ee7e63;
  }
  .newRootRootRootRoot:hover {
    opacity: 0.7;
    box-shadow: 1px 1px 3px #aaaaaa;
  }
  .newRootRootRootRoot:disabled {
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(1);
  }
  .restaurantPage {
    width: 100%;
    height: 1693px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 0px 37px 26px;
    background-color: #ffffff;
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: normal, normal;
    background-image: url(https://file.rendit.io/n/y5wOd2bwkck23rw9jHnS.jpg),
      linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    overflow: hidden;
  }
  .newRootRootRootRoot.loading .restaurantPage {
    display: none;
  }
  .newRootRootRootRoot.error .restaurantPage {
    display: none;
  }
  .flexRow {
    width: 100%;
    gap: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    margin: 0px 0px 93px 0px;
  }
  .flexRow1 {
    gap: 21px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 0px 0px;
  }
  .text1 {
    font-size: 40px;
    font-weight: 700;
    font-family: Poppins;
    white-space: nowrap;
  }
  .image5 {
    width: 50px;
    height: 50px;
  }
  .paragraph {
    width: 1024px;
    align-self: flex-start;
    font-size: 40px;
    font-weight: 700;
    font-family: Poppins;
  }
  .whiteFlexRow {
    width: 1326px;
    gap: 29px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 33px 6px 17px 6px;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    background-color: #ffffff;
  }
  .image1 {
    width: 239px;
    height: 204px;
    align-self: flex-start;
  }
  .flexColumn1 {
    width: 248px;
    height: 228px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 130px 0px 653px;
  }
  .paragraph1 {
    width: 1031px;
    height: 152px;
    left: 0px;
    top: 20px;
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    font-family: Poppins;
    white-space: pre-wrap;
  }
  .flexColumn2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 68px 30px;
  }
  .whiteFlexRow1 {
    width: 1326px;
    gap: 5.65px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 35px 6px 32px 6px;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    background-color: #ffffff;
  }
  .image2 {
    width: 272px;
    height: 204px;
    align-self: flex-end;
  }
  .flexColumn3 {
    width: 1031px;
    height: 211px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .login1 {
    left: 661px;
    top: 119px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .paragraph3 {
    width: 1031px;
    height: 152px;
    position: relative;
    font-size: 30px;
    font-weight: 700;
    font-family: Poppins;
    white-space: pre-wrap;
  }
  .flexColumn4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 101px 24px;
  }
  .whiteFlexRow2 {
    width: 1338px;
    gap: 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 45px 0px 28px 0px;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    background-color: #ffffff;
  }
  .image4 {
    width: 264px;
    height: 160px;
    align-self: flex-start;
    margin: 4px 0px 0px 0px;
  }
  .flexColumn5 {
    width: 248px;
    height: 205px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 130px 0px 653px;
  }
  .paragraph5 {
    width: 1031px;
    height: 152px;
    left: 0px;
    top: 0px;
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    font-family: Poppins;
    white-space: pre-wrap;
  }
  .whiteFlexRow3 {
    gap: 19px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 6px 38px 7px;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    background-color: #ffffff;
  }
  .image3 {
    width: 275px;
    height: 183px;
    align-self: flex-start;
  }
  .flexColumn7 {
    width: 248px;
    height: 215px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 122px 0px 661px;
  }
  .paragraph7 {
    width: 1031px;
    height: 152px;
    left: 0px;
    top: 10px;
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    font-family: Poppins;
    white-space: pre-wrap;
  }
  .text10 {
    margin: 0px 0px 0px 357px;
    font-size: 40px;
    font-weight: 300;
    font-family: Poppins;
    white-space: nowrap;
  }
  .loadingSpinner {
    width: 20px;
    height: 20px;
    display: none;
    border-width: 3px;
    border-radius: 50%;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: #f3f3f3;
    border-bottom-color: #f3f3f3;
    border-right-color: #f3f3f3;
    border-top-color: #444444;
    border-top-style: solid;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .newRootRootRootRoot.loading .loadingSpinner {
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: #f3f3f3;
    border-bottom-color: #f3f3f3;
    border-right-color: #f3f3f3;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-color: #444444;
    border-top-style: solid;
    width: 20px;
    height: 20px;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: block;
  }
  .newRootRootRootRoot.error .loadingSpinner {
    display: none;
  }
  .errorBang {
    width: 29px;
    height: 29px;
    display: none;
  }
  .newRootRootRootRoot.error .errorBang {
    width: 29px;
    height: 29px;
    display: block;
  }
  


  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .logInPageRootRootRoot {
    width: 866px;
    height: 1555px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    padding-top: 179px;
    padding-right: 308px;
    padding-bottom: 46px;
    padding-left: 266px;
    border-width: 0px;
    box-sizing: content-box;
    background-color: #ffffff;
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: normal, normal;
    background-image: url(https://file.rendit.io/n/vv3o28jaKZHXSgS7hg8C.jpg),
      linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    overflow: hidden;
    cursor: pointer;
  }
  .logInPageRootRootRoot.error {
    background-color: #ee7e63;
  }
  .logInPageRootRootRoot:hover {
    opacity: 0.7;
    box-shadow: 1px 1px 3px #aaaaaa;
  }
  .logInPageRootRootRoot:disabled {
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(1);
  }
  .flexColumn {
    height: 893px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
  }
  .logInPageRootRootRoot.loading .flexColumn {
    display: none;
  }
  .logInPageRootRootRoot.error .flexColumn {
    display: none;
  }
  .flexRow {
    width: 866px;
    gap: 7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 66px 0px;
  }
  .text1 {
    font-size: 40px;
    font-weight: 700;
    font-family: Poppins;
    white-space: nowrap;
  }
  .image1 {
    width: 50px;
    height: 50px;
    align-self: flex-end;
  }
  .loginform {
    width: 866px;
    height: 598px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 0px 51px 0px;
  }
  .username1 {
    width: 858px;
    gap: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    align-items: flex-start;
  }
  .password3 {
    width: 858px;
    gap: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .password1 {
    display: contents;
    font-size: 32px;
    font-weight: 600;
    font-family: Inter;
  }
  .login1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 302px 0px 0px;
  }
  .mahoganyText {
    width: 86px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 22px 80px 21px 80px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    font-family: Inter;
    white-space: nowrap;
    border-radius: 10px;
    background-color: #cb4e4e;
  }
  .line {
    width: 850px;
    height: 1px;
    align-self: flex-end;
    margin: 0px 0px 42px 0px;
  }
  .flexRow1 {
    width: 718px;
    gap: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 74px;
  }
  .text3 {
    font-size: 32px;
    font-family: Inter;
    white-space: nowrap;
  }
  .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .whiteText {
    width: 114px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 43px;
    color: #cb4e4e;
    font-size: 32px;
    font-family: Inter;
    white-space: nowrap;
    border-radius: 15px;
    background-color: #fdf0f5;
  }
  .text4 {
    margin: 0px 0px 0px 132px;
    font-size: 40px;
    font-weight: 300;
    font-family: Poppins;
    white-space: nowrap;
  }
  .logInPageRootRootRoot.loading .text4 {
    display: none;
  }
  .logInPageRootRootRoot.error .text4 {
    display: none;
  }
  .loadingSpinner {
    width: 20px;
    height: 20px;
    display: none;
    border-width: 3px;
    border-radius: 50%;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: #f3f3f3;
    border-bottom-color: #f3f3f3;
    border-right-color: #f3f3f3;
    border-top-color: #444444;
    border-top-style: solid;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .logInPageRootRootRoot.loading .loadingSpinner {
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: #f3f3f3;
    border-bottom-color: #f3f3f3;
    border-right-color: #f3f3f3;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-color: #444444;
    border-top-style: solid;
    width: 20px;
    height: 20px;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: block;
  }
  .logInPageRootRootRoot.error .loadingSpinner {
    display: none;
  }
  .errorBang {
    width: 29px;
    height: 29px;
    display: none;
  }
  .logInPageRootRootRoot.error .errorBang {
    width: 29px;
    height: 29px;
    display: block;
  }
  