.NavBar > p {
    text-align: center;
    width: 15%;
    height: 20px;
    margin: 1% 4.5% 1% 4.5%;
    float:left;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}

div.NavBar {
    height: 50px;
}
