.login-body  {
    background-color: aqua;
    position: absolute;
    width: 100%;
    height: 100%;
}

.position-form {
    position: relative;
    top: 25%;
    left: 35%;
}

.box {
    height: 400px;
    width: 400px;
    background-color: azure;
}

.form-content-login{
    position: relative;
    top: 35%;
    left: 30%;
}

.error{
    position: relative;
    top: 38%;
    color: red;
}

.position-form h1{
    color: blueviolet;
    position: relative;
    top: 4px;
    left: 38%;
}