#add-event-input{
    width: 100%;
    margin-bottom:20px;
    border:none;
    border-bottom: 1px solid grey;
}

.event-form-container{
    background-color: black;
    width:100%; 
    position: absolute; 
    z-index: -1; 
}

.add-event-form{
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top:50px;
    width: 35%;
    height: auto;
    padding: 25px;
    margin-left: 30%;
}

