.signup-form{
    margin: auto;
    margin-top:120px;
    width: 35%;
    padding: 10px;
}

.name-signup-input{
    width: 100%;
    margin-bottom:20px;
    border:none;
    border-bottom: 1px solid grey;
}

.username-signup-input{
    width: 100%;
    margin-bottom:20px;
    border:none;
    border-bottom: 1px solid grey;
}

.avatar-input{
    width: 100%;
    margin-bottom:20px;
    border:none;
    border-bottom: 1px solid grey;
}

.password-signup-input{
    width: 100%;
    margin-bottom:20px;
    border:none;
    border-bottom: 1px solid grey;
}

.password-confirmation-input{
    width: 100%;
    margin-bottom:20px;
    border:none;
    border-bottom: 1px solid grey;
}


.exit-signup-btn{
    float: right;
}

#signup-label{
    display:block;
    float: left;
}

.lock-icon-signup{
    height: 12px;
}

#signupform-icon{
    height: 12px;
}