.login-form{
    margin: auto;
    width: 35%;
    padding: 10px;
    margin-top:120px;
}

.username-label{
    display:block;
}

.password-label{
    display:block;
}

.username-input{
    width: 100%;
    margin-bottom:20px;
    border:none;
    border-bottom: 1px solid grey;
}

.password-input{
    width: 100%;
    margin-bottom:20px;
    border:none;
    border-bottom: 1px solid grey;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.login-btn {
    border: none;
    height: 35px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    background-color: black;
    color: white;
}

.login-btn:hover{
    background-color: rgb(71, 71, 71);
}

.user-icon{
    height:12px;
}

.lock-icon{
    height: 12px;
}

.arrow-right-icon{
    height: 9px;
    margin-left:-5px;
}

.forgot-password:hover{
    color:lightgrey;
    cursor: pointer;
}

.login-errors{
    color: red;
}