/* 
body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url("../images/image5.jpg")
} */


.main{
  text-align: center;
  justify-content: center;
  display: block;
  padding: 50px 0 5px 0;
  /* background-color: black; */
  /* background-image: url(../images/image2.jpeg); */
  background-size: cover;
  /* opacity: 0.5; */


  /* background-image: linear-gradient(black), url("../images/image3.jpeg") */
}
/* .sub-main{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  border-radius: 60px;
  background-color: white;

}

 .container-image{
  background-color: rgb(223, 221, 221);
  border-radius: center;
  align-items: center;
  display: flex;
  height: 115px;
  width: 115px;


}
.profile{
  height: 100px;
  width: 100px;
  border-radius: 130px;
}*/
input{
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px silver;
  border: none;
  outline: none;
  background-color: #fff;
}
.name{
  padding-left: 10px;
  align-items: center;
  /* font-size: 20px; */
}
.button-1{
  width: 300px;
  height: 50px;
  border-radius: 60px;
  background-color: orange;
  color: white;
  font-size: 25px;
  border: none;
}
.link{
  font-size: 15px;
  font-weight: 400;
}
a{
  color: blue;
} 

.btn-2{
  width: 100px;
  height: 50px;
  border-radius: 60px;
  /* background-color: orange; */
  color: black;
  font-size: 25px;
  border: none;
}