h3.Login {
    text-align: center;
    font-size: 50px;
}

form.Login {
    text-align: center;
}
.loginPage{
    background-image: url("https://kitchenconfidante.com/wp-content/uploads/2019/05/Homemade-Almond-Butter-Granola-kitchenconfidante.com-9336.jpg");
    height: 1100px;
}
#username {
    margin-top: 10%
}

form.Login input {
    height: 30px;
    width: 250px;
    margin: 1%;
}

#sign-in {
    height: 50px;
    background-color: white;
}

p.Login {
    text-align: center;
}

button.Login {
    height: 50px;
    width: 250px;
    position: absolute;
    margin-top: 1%;
    right: 50%;
    transform: translate(50%);
    background-color: white;
}