.attendee-list{
    display: flex;
}

.invite-friend-btn{
    background: black;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: 10px;
}

.event-friends-list{
    padding: 20px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}


.view-friend-btn{
    background: black;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: 10px;
}