.base-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
.header {
	  font-size: 34px;
}
  
.content {
	  display: flex;
	  flex-direction: column;
}
 
.image {
	width: 21em;
}
.image img {
	width: 100%;
	height: 100%;
}
	  .form {
		margin-top: 2em;
		display: flex;
		flex-direction: column;
		align-items: center;
	  }
		.form form-group {
		  display: flex;
		  flex-direction: column;
		  align-items: flex-start;
		  width: fit-content;
		}
		  .form form-group label {
			font-size: 20px;
		  }
		  .form form-group input {
			margin-top: 6px;
			min-width: 18em;
			height: 37px;
			padding: 0px 10px;
			font-size: 16px;
			font-family: "Open Sans", sans-serif;
			background-color: #f3f3f3;
			border: 0;
			border-radius: 4px;
			margin-bottom: 31px;
			transition: all 250ms ease-in-out;
		  }
  
			.input:focus {
			  outline: none;
			  box-shadow: 0px 0px 12px 0.8px #F6398B;
			}
  
	.footer {
	  margin-top: 3em;
	}