.event-card-large {
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  width: 90%;
  padding: 25px;
  max-height: 675px;
  max-width: auto;
  min-width: 400px;
}

.event-card-large-title {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.5rem;
}


.event-card-large-description{
  font-size: 1rem
}

.event-card-large-date{
  font-size: 1rem
}

.event-card-large-time{
  font-size: 1rem
}