.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 400px;
  box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.3), 
    0 3px 7px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgba(255,255,255,1),
    inset 0 -3px 2px rgba(0,0,0,0.25);
  border-radius: 5px;
  background: linear-gradient(#eeefef, #ffffff 5%);
  padding-top: 30px;
  padding-bottom: 30px;
}

.login-input {
  background-color: #dbdbdb;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: rgb(82, 82, 82);
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.login-input-div {
  height: 50px;
  padding: 20px;
}

.login-button-div {
  padding: 20px;
  text-align: center;
  align-items: center;
}

.button {
  background-color: rgb(53, 178, 255);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 50%;
}

.error {
  color: red;
  left: auto;
}
