.library-container {
    background-image: url('../assets/library.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
}

.logo {
    height: 150px;
    width: auto;
}

.user-details {
    margin-top: 10px;
}

.pagination-buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
}
